torchmetrics==0.9.3
torch-tb-profiler==0.4.0
tensorboard==2.9.1
pytorch-lightning==1.6.5
jsonargparse==4.12.0
kornia==0.6.6
numpy
mat73==0.59
rawpy==0.17.1
tifffile==2022.7.28
imagecodecs==2022.7.31
exifread==3.0.0
scipy==1.9.0
scikit-image==0.19.3
scikit-learn==1.1.1
scikit-learn-intelex==2021.6.3
opencv-contrib-python==4.6.0.66
colour-demosaicing==0.2.2
matplotlib==3.5.2
jupyterlab==3.4.4
ipywidgets==7.7.1
ipyparallel==8.4.1
tqdm
natsort==8.1.0
python-dotenv==0.20.0
invoke==1.7.1
toolz==0.12.0
mypy==0.971
autopep8==1.6.0
flake8==4.0.1
flake8-quotes==3.3.1
